<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.beliathal" platformBuildVersionCode="29" platformBuildVersionName="10">
    <overlay android:isStatic="true" android:priority="700" android:targetPackage="com.android.systemui"/>
    <application android:extractNativeLibs="false" android:hasCode="false"/>
</manifest>